article {
    margin: 0 auto;
    width: 476px;
    text-align: left;
    margin-left: 24px;
    display: inline-block;
}
.firstpicinblock {
    margin-top: 24px;
}
.category1, .category2 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 34px;
    font-family: "Ubuntu, sans-serif";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    text-align: left;
    
}


.titleh2 {
    font-size: 30px;
    font-family: "PlayfairDisplay, serif";
    margin-bottom: 40px;
    color: rgb(98, 98, 98); 
}

.Lor {
    font-size: 16px;
    font-family: "PlayfairDisplay, serif";
    color: rgb(98, 98, 98);
   
}
