main, header {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.mainnav ul li {
    list-style: none;
    text-transform: uppercase;
    display: inline;
}

.mainnav ul li a:hover {
    color: greenyellow;
}

.mainnav ul li a:active {
    color: red;
}


.mainnav ul li a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}